body::-webkit-scrollbar {
  width: 0px;
}

/* style.css */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  /* Green background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: 0.4s ease;
  /* Smooth transition */

}

@keyframes slideLeft {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

.slide-left {
  animation: slideLeft 0.5s ease forwards;
}

.loader-wrapper img {
  width: 400px;
  z-index: 9999;
}

.loader {
  border: 4px solid #000000;
  /* White color */
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.loader-title {
  margin-top: 10px;
  font-size: 18px;
  margin: 10px 2vh;
  color: #000000;
  /* White color */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.load {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width: 100px;
  height: 100px;
}

.load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite
}

.load :first-child {
  background: #19A68C;
  animation-delay: -1.5s
}

.load :nth-child(2) {
  background: #F63D3A;
  animation-delay: -1s
}

.load :nth-child(3) {
  background: #FDA543;
  animation-delay: -0.5s
}

.load :last-child {
  background: #193B48
}

@keyframes spin {

  0%,
  100% {
    transform: translate(0)
  }

  25% {
    transform: translate(160%)
  }

  50% {
    transform: translate(160%, 160%)
  }

  75% {
    transform: translate(0, 160%)
  }
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: white;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: rgb(247, 145, 0);
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  color: white;
  display: block
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a i {
  color: white;
  text-decoration: none;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: rgb(247, 145, 0);

  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.site-footer .social-icons a:hover {
  color: #26272b;
}

.copyright-text {
  margin: 0
}

.copyright-text a {
  color: whtie;
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  color: blue;

  background-color: rgb(247, 145, 0);
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}

.site-footer a {
  text-decoration: none;
  color: white;
}

.site-footer a:hover {
  color: rgb(247, 145, 0);
  ;

}

/* CSS for navbar */
.main .header1 {
  background: #f3c009;
  /* Dark background for the header */
  color: rgb(66, 65, 65);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  height: 50px;
  /* Adjust the size of the logo as needed */
}

.navbar {
  display: none;
  /* Hide the menu initially */
}

.navbar.fix {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a1 {
  color: rgb(78, 76, 76);
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
}

.a1:hover {
  background-color: rgb(59, 59, 58);
  color: white;
border-radius: 20px;
  text-decoration: none;
}

.hamburger {
  cursor: pointer;
}

.navbar .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .dropdown-menu {
  display: none; /* Hidden by default */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar .dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar .dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block; /* Show the submenu on hover */
}

/* Responsive design for larger screens */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .navbar {
    display: flex;
    /* Show the menu on larger screens */
  }

}

.menu-items {
  display: none;
  /* Add animation properties here */
  animation-name: slideIn;
  transform: translateX(-100%);
  left: 0;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  /* Keeps the last frame of the animation */
  transform: translate(0, -50%);

}

.mobile-nav {
  display: none;
}

.menu-items a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 0;
}

#menuBtn {
  background: none;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

/* Media query for mobile */
@media (max-width: 768px) {
  .menu-items {
    display: none;
    height: 100vh;
    float: right;
    top: 0;
    position: absolute;
    z-index: 9999;
    padding-left: 2vw;
    width: 7 0vw;
    background-color: #33353d;

  }

  .mobile-nav {
    display: block;
  }

  #menuBtn {
    display: block;
  }

  .navbar {
    display: none;
  }
}

.menu-items img {
  margin-top: 10vh;
}

/* Define the slide-in animation */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(247, 145, 0);
}

.btn-5:hover {
  color: rgb(247, 145, 0);
  background: transparent;
  box-shadow: none;
}

.btn-5:before,
.btn-5:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f0094a;
  box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}


/* 6 */
side {
  color:#f3c009;;

}
i {
  color: rgb(247, 145, 0);

}


.hero_section {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 10vh;

  margin-bottom: 10vh;
}

.left_div {
  width: 60%;
}

.right_div {
  width: 40%;
}

.left_div,
.right_div {
  /* For desktop */
}

@media (max-width: 768px) {

  /* For mobile devices */
  .left_div,
  .right_div {
    width: 80%;
  }

  .logo img {
    width: 90%;
    /* Adjust the size of the logo as needed */
  }

}

.topheading {
  background: #333;
  color: white;

  display: flex;
  position: relative;
  justify-content: space-between;
  top: 0;
  margin: 0 auto;
  padding-left: 2vh;
  padding-right: 4vh;
  padding-top: 1vh;
}

.topheading i {
  margin-left: 1vw;
  color: rgb(247, 145, 0);
}
.topheading a{
  text-decoration: none;
  color: white;

}
.highlight_heading {
    
    text-align: center;
    font-family: 'Sora', sans-serif;
    text-decoration: underline;
    -webkit-text-decoration: underline;
    /* For Safari */
    text-decoration-color: rgb(247, 145, 0);
    /* Set the color separately */
    -webkit-text-decoration-color: rgb(247, 145, 0);
    /* For Safari */
    font-size: 7vh;
    text-underline-offset: 4vh;
    margin: 0 auto;    margin-bottom: 10vh;

  
}
.dhide{
  display: none;
}

@media (max-width:786px) {
  .highlight_heading{
    font-size: 3vh;
    margin-top: 5vh;
    text-underline-offset: 2vh;

  }  
  .phone{
    
    text-align: center;
    justify-content: space-between;
    width: 100%;
  }
  .phone i{
    margin-left: 10px;
  }
  .dhide{
    display: block;
}

}

a{
  text-decoration: none;
  color: inherit;
}


.site-footer .container .row img {
  height: 20vh;
}