@font-face {
  font-family: Spartanimport;
  src: url("fonts/spartan/SpartanMB-Bold.otf");
}

@font-face {
  font-family: SpartanLimport;
  src: url("fonts/spartan/SpartanMB-Black.otf");
}

@font-face {
  font-family: RalewayELimport;
  src: url("fonts/raleway/Raleway-ExtraLight.ttf");
}

@font-face {
  font-family: Ralewayimport;
  src: url("Fonts/raleway/Raleway-Black.ttf");
}

@font-face {
  font-family: RalewayBoldimport;
  src: url("Fonts/raleway/Raleway-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  background-color: #E0E5EC;
}

/* helper/utility classes */
a {
  text-decoration: none;
}



html {
  scroll-behavior: smooth;
}

.header {
  min-height: 150vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("./Cafe3.jpeg") center/cover no-repeat;
  position: relative;
  background-attachment: fixed;
}

.logo {
  position: absolute;
  float: left;
  width: 30vw;
  z-index: 3;
  /* position: fixed; */
  animation-name: slideleft;
  -webkit-animation-name: slideleft;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}


@keyframes slideup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@-webkit-keyframes slideup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

/* banner */



@keyframes slidedown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@-webkit-keyframes slidedown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@keyframes slideleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

@-webkit-keyframes slideleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

@keyframes slideright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

@-webkit-keyframes slideright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}







.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  letter-spacing: 0.5rem;
}

.banner-subtitle {
  margin-top: 2rem;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f8f9fa;
  /* animation */
  animation-name: slideup;
  -webkit-animation-name: slideup;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}



.banner-title {
  font-family: SpartanLimport;
  font-size: 3.5rem;
  color: white;
  margin-top: 2.5rem;
  line-height: 1.3;
  /* animation */
  animation-name: slidedown;
  -webkit-animation-name: slidedown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

.banner-bottom {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: downarrow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}



.banner-bottom img {
  height: 40px;

}

@keyframes downarrow {
  0% {
    top: 91%;
  }

  50% {
    top: 96%;
  }

  100% {
    top: 91%;
  }
}

.main-btn {
  color: black;
  display: inline-block;
  background: none;
  text-transform: uppercase;
  padding: 0.8rem 1.2rem;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: 0.15rem solid #bd1220;
  /*outline-offset: 4px;*/
  cursor: pointer;
  margin-top: 2rem;
  transition: 0.5s;
  position: absolute;
  z-index: 1;
}

.main-btn:hover {
  color: white;
  background-color: #bd1220;
  opacity: 1;

}



.main-btn-back {
  width: 145px;
  height: 50px;
  margin-left: -2px;
  margin-top: 48px;
  background-color: none;
  position: relative;
  z-index: 0;
}

.main-btn:hover .main-btn-back {
  animation-name: btnfill;
  animation-duration: 3s;
  animation-iteration-count: 1;
  background-color: #bd1220;
}

@keyframes btnfill {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

/* end  header */
.content-divider {
  height: 0.5rem;
  background: linear-gradient(to left,
      #a07070,
      #bc8b8b,
      #8e4242,
      #a28f8f,
      #513434);
}



.skill-title {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1em;
  margin-bottom: 1.5rem;
  color: #bd1220;
  transition: 0.5s;
}

.skill-text {
  max-width: 13rem;
  margin: 0 auto;
  text-shadow: 10px;
  font-family: RalewayELimport;
}

.skill1:hover {
  background: #52080e;
  opacity: 1.2;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
}

.skill2:hover {
  background: #52080e;
  opacity: 1.2;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
}

.skill1:hover .skill-title {
  color: #8e4242;
  font-size: 17px;
}

.skill2:hover .skill-title {
  color: #8e4242;
  font-size: 17px;
}

.skill1:hover .skill-text {
  color: white;
}

.skill2:hover .skill-text {
  color: white;
}











@keyframes slidein {
  0% {
    opacity: 0;
    -webkit-transform: translateX(70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

@-webkit-keyframes slidein {
  0% {
    opacity: 0;
    -webkit-transform: translateX(70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}







.response-title {
  letter-spacing: 1.5px;
  color: #bd1220;
  font-family: SpartanLimport;
  font-size: 25px;
}

input[type="feedback"],
textarea {
  width: 100%;
  background-color: #E0E5EC;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

input[type="email"] {
  width: 100%;
  padding: 12px 15px;
  background-color: #E0E5EC;
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  outline: none;
}

input[type="text"] {
  width: 100%;
  padding: 12px 15px;
  background-color: #E0E5EC;
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  outline: none;
}

input[type="submit"] {
  width: 30%;
  background-color: #E0E5EC;
  color: black;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 14px 15px;
  margin: 8px 0;
  border: 1px solid black;
  transition: 0.5s;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #bd1220;
  color: white;
  opacity: 1;
  border: 1px solid #bd1220;
  border-radius: 6px;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.new-division {
  color: white;
  border-radius: 5px;
  padding: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("./Struct4.jpg") center/cover no-repeat;
  position: relative;
  background-attachment: fixed;
}

.section-subtitle {
  color: #bd1220;
  font-family: SpartanLimport;
  font-size: 20px;
}

.section-title {
  font-family: SpartanLimport;
}

.back {
  background-color: #E0E5EC;
}

.response-back {
  padding-left: 500px;
  padding-right: 100px;
  background-color: #bd1220;
}

.colorcover-link {
  color: black;
  transition: 0.5s;
}

.colorcover-link:hover {
  color: #bd1220;
}

.fontsettings {
  color: black;
  font-size: small;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

label {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
